<!DOCTYPE html>
<html ng-app="TrashBin">
  <head>
    <% include Templates/header.ejs %>
	  
  </head>
  <body >
  

   <div id="container">
	<% include Templates/navbar.ejs %>
	</div>

<div id="container">

		<% include Templates/data.ejs %>

		
   <% include Templates/footer.ejs %>
  </div>   
  </div>

  <script src="../controller/controller.js" ></script>
  </body>
</html>